Repository AICONSlab/MIRACL, pull requests merged in 2024-07, with the labels that each got.

#137 [docs/fix] add code block to ace_flow.rst
  docs/tutorials/workflows/ace_flow/ace_flow.rst
Labels: docs

#140 [fix] Add shm back to install script
  install.sh
Labels: bug

#141 Ar/second round ace fixes
  .circleci/config.yml
  docs/installation/installation.rst
  docs/tutorials/stats/ace_cluster/ace_cluster.rst
  docs/tutorials/stats/index.rst
  docs/tutorials/workflows/ace_flow/ace_flow.rst
  miracl/seg/ace_interface.py
  miracl/version.txt
Labels: enhancement, docs

#143 [docs] Fix formatting for bullet points
  docs/installation/installation.rst
  docs/tutorials/stats/ace_cluster/ace_cluster.rst
  docs/tutorials/workflows/ace_flow/ace_flow.rst
Labels: docs

#146 [docs] Update ace_flow.rst
  docs/tutorials/workflows/ace_flow/ace_flow.rst
Labels: docs

#144 Release 2.4.0
  .circleci/config.yml
  docs/installation/installation.rst
  docs/tutorials/stats/ace_cluster/ace_cluster.rst
  docs/tutorials/stats/index.rst
  docs/tutorials/workflows/ace_flow/ace_flow.rst
  install.sh
  miracl/flow/ace_gui/README.md
  miracl/flow/ace_gui/miracl_workflow_ace_gui_clarity_registration_tab.py
  miracl/flow/ace_gui/miracl_workflow_ace_gui_clusterwise_tab.py
  miracl/flow/ace_gui/miracl_workflow_ace_gui_controller.py
  miracl/flow/ace_gui/miracl_workflow_ace_gui_conversion_tab.py
  miracl/flow/ace_gui/miracl_workflow_ace_gui_correlation_stats_tab.py
  miracl/flow/ace_gui/miracl_workflow_ace_gui_flag_creator.py
  miracl/flow/ace_gui/miracl_workflow_ace_gui_heatmap_tab.py
  miracl/flow/ace_gui/miracl_workflow_ace_gui_help_window.py
  miracl/flow/ace_gui/miracl_workflow_ace_gui_input_validator.py
  miracl/flow/ace_gui/miracl_workflow_ace_gui_main_tab.py
  miracl/flow/ace_gui/miracl_workflow_ace_gui_segmentation_tab.py
  miracl/flow/ace_gui/miracl_workflow_ace_gui_tab_manager.py
  miracl/flow/ace_gui/miracl_workflow_ace_gui_voxelizing_warping_tab.py
  miracl/flow/ace_gui/miracl_workflow_ace_gui_widget_utils.py
  miracl/flow/cli_flow.py
  miracl/flow/miracl_workflow_ace_interface.py
  miracl/flow/miracl_workflow_ace_parser.py
  miracl/miraclGUI.py
  miracl/seg/ace_interface.py
  miracl/stats/miracl_stats_heatmap_group.py
  miracl/version.txt
Labels: enhancement, docs, fix

#147 [docs] Fix stale ACE links
  README.md
  docs/index.rst
  docs/tutorials/workflows/ace_flow/ace_flow.rst
Labels: docs

#149 Dev
  README.md
  docs/index.rst
  docs/tutorials/workflows/ace_flow/ace_flow.rst
Labels: enhancement, docs, fix

#151 [bugfix] Voxeliztion missing arg
  miracl/flow/miracl_workflow_ace_interface.py
Labels: bug
