Repository AICONSlab/MIRACL, pull requests merged in 2024-06, with the labels that each got.

#127 [feat] MIRACL version incremented and improvements to build/installation script
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_installing_miracl_on_windows.ipynb
  docs/installation/installation.rst
  install.sh
  miracl/version.txt
Labels: enhancement

#126 Finalize ACE docs and Minor Bugs
  docs/installation/installation.rst
  docs/tutorials/stats/ace_cluster/ace_cluster.rst
  docs/tutorials/workflows/ace_flow/ace_flow.rst
  miracl/flow/miracl_workflow_ace_interface.py
  miracl/flow/miracl_workflow_ace_parser.py
  miracl/miraclGUI.py
  miracl/seg/models/unet/.gitignore
  miracl/seg/models/unetr/.gitignore
Labels: bug, docs

#128 [docs] changes and improvements to installation docs
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_installing_miracl_on_windows.ipynb
  docs/installation/installation.rst
Labels: enhancement, docs

#129 ACE without models
  .idea/bashsupport_project.xml
  .idea/dictionaries/mgoubran.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/markdown-navigator.xml
  .idea/markdown-navigator/profiles_settings.xml
  .idea/miracl.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_installing_miracl_on_windows.ipynb
  docs/installation/installation.rst
  docs/tutorials/registration/index.rst
  docs/tutorials/registration/itksnap_reorient/images/1_main_screen.png
  docs/tutorials/registration/itksnap_reorient/images/2_reorient_menu_open.png
  docs/tutorials/registration/itksnap_reorient/images/3_reorient_menu_main.png
  docs/tutorials/registration/itksnap_reorient/images/4_reorient_menu_reoriented.png
  docs/tutorials/registration/itksnap_reorient/images/5_main_screen_reoriented.png
  docs/tutorials/registration/itksnap_reorient/images/6_save_changes_menu.png
  docs/tutorials/registration/itksnap_reorient/itksnap_reorient.rst
  docs/tutorials/segmentation/ace_seg/ace_seg.rst
  docs/tutorials/slurm/compute_canada/compute_canada.rst
  docs/tutorials/stats/ace_cluster/ace_cluster.rst
  docs/tutorials/workflows/ace_flow/ace_flow.rst
  install.sh
  miracl/conv/miracl_conv_convertTIFFtoNII.py
  miracl/flow/cli_flow.py
  miracl/flow/miracl_workflow_ace_interface.py
  miracl/flow/miracl_workflow_ace_parser.py
  miracl/flow/miracl_workflow_registration_clarity-allen.sh
  miracl/lbls/cli_lbls.py
  miracl/lbls/miracl_lbls_warp_to_clar_space.sh
  miracl/miraclGUI.py
  miracl/reg/cli_reg.py
  miracl/reg/miracl_reg_clar-allen.sh
  miracl/reg/miracl_reg_warp_clar_data_to_allen.sh
  miracl/seg/ace_deploy_model.py
  miracl/seg/ace_generate_patch.py
  miracl/seg/ace_interface.py
  miracl/seg/ace_parser.py
  miracl/seg/ace_patch_stacking.py
  miracl/seg/models/unet/.gitignore
  miracl/seg/models/unetr/.gitignore
  miracl/stats/miracl_stats_ace_clusterwise.py
  miracl/stats/miracl_stats_ace_correlation.py
  miracl/stats/miracl_stats_ace_interface.py
  miracl/stats/miracl_stats_ace_parser.py
  miracl/stats/miracl_stats_ace_pvalue.py
  miracl/stats/miracl_stats_heatmap_group.py
  miracl/stats/miracl_stats_voxel_wise.py
  miracl/version.txt
Labels: enhancement

#131 [feat] utility script to more conveniently download tutorial sample data
  Dockerfile
  utility_scripts/download_sample_data
Labels: enhancement

#130 Small fixes for ace docs
  docs/installation/installation.rst
  docs/tutorials/stats/ace_cluster/ace_cluster.rst
  docs/tutorials/workflows/ace_flow/ace_flow.rst
  install.sh
Labels: enhancement, docs

#132 [docs] Update ace docs to use download script
  docs/downloads/data/example_and_atlases_data/example_and_atlases_data.rst
  docs/tutorials/stats/ace_cluster/ace_cluster.rst
  docs/tutorials/workflows/ace_flow/ace_flow.rst
Labels: docs

#133 [feat] replace shm_size with mem_limit
  install.sh
Labels: enhancement

#135 Merge dev into master
  Dockerfile
  docs/downloads/data/example_and_atlases_data/example_and_atlases_data.rst
  docs/installation/installation.rst
  docs/tutorials/stats/ace_cluster/ace_cluster.rst
  docs/tutorials/workflows/ace_flow/ace_flow.rst
  install.sh
  utility_scripts/download_sample_data
Labels: enhancement, docs
