Repository AICONSlab/MIRACL, pull requests merged in 2024-03, with the labels that each got.

#113 Singularity and CICD Fix
  .circleci/config.yml
Labels: bug, enhancement

#116 [docs] restructure docs with downloads section to include workshops on MIRACL
  docs/directives/tutorial_notebook_links.txt
  docs/downloads/data/example_and_atlases_data/example_and_atlases_data.rst
  docs/downloads/data/index.rst
  docs/downloads/index.rst
  docs/downloads/workshops/2024/index.rst
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_ace.ipynb
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_flyer.png
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_installing_miracl_on_windows.ipynb
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_regional_statistics_and_visualization.ipynb
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_registration.ipynb
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_singularity_sherlock_cc.ipynb
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_sta.ipynb
  docs/downloads/workshops/2024/stanford_20_03_2024/stanford_20_03_2024.rst
  docs/downloads/workshops/index.rst
  docs/index.rst
  docs/installation/installation.rst
  docs/tutorials/registration/clarity_allen/clarity_allen.rst
  docs/tutorials/slurm/compute_canada/compute_canada.rst
  docs/tutorials/slurm/sherlock/sherlock.rst
  docs/tutorials/stats/ace_cluster/ace_cluster.rst
  docs/tutorials/workflows/ace_flow/ace_flow.rst
  docs/tutorials/workflows/sta/sta.rst
Labels: docs

#117 [docs/fix/feat] CircleCI fixes/improvements and changes to docs structure
  .circleci/config.yml
  docs/directives/tutorial_notebook_links.txt
  docs/downloads/data/example_and_atlases_data/example_and_atlases_data.rst
  docs/downloads/data/index.rst
  docs/downloads/index.rst
  docs/downloads/workshops/2024/index.rst
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_ace.ipynb
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_flyer.png
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_installing_miracl_on_windows.ipynb
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_regional_statistics_and_visualization.ipynb
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_registration.ipynb
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_singularity_sherlock_cc.ipynb
  docs/downloads/workshops/2024/stanford_20_03_2024/data/miracl_stanford_20_03_2024_sta.ipynb
  docs/downloads/workshops/2024/stanford_20_03_2024/stanford_20_03_2024.rst
  docs/downloads/workshops/index.rst
  docs/index.rst
  docs/installation/installation.rst
  docs/tutorials/registration/clarity_allen/clarity_allen.rst
  docs/tutorials/slurm/compute_canada/compute_canada.rst
  docs/tutorials/slurm/sherlock/sherlock.rst
  docs/tutorials/stats/ace_cluster/ace_cluster.rst
  docs/tutorials/workflows/ace_flow/ace_flow.rst
  docs/tutorials/workflows/sta/sta.rst
Labels: bug, enhancement, docs

#118 [docs] add Notebooks section to sidebar
  docs/index.rst
  docs/notebooks/notebooks.rst
  docs/tutorials/registration/clarity_allen/clarity_allen.rst
Labels: enhancement, docs

#119 [docs] add Notebooks section to sidebar
  docs/index.rst
  docs/notebooks/notebooks.rst
  docs/tutorials/registration/clarity_allen/clarity_allen.rst
Labels: enhancement, docs
